<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145319049244-ped8tj7c5ef93kgcc06fcec5q4lsdsvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145319049244-ped8tj7c5ef93kgcc06fcec5q4lsdsvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145319049244-2i59f19bug1u8lsjtd8r5d9o7lb6hm5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAelkwf9IDdFKXzy1OlhdTOhudJJutEnfs</string>
	<key>GCM_SENDER_ID</key>
	<string>145319049244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soocher.doctor.doctor</string>
	<key>PROJECT_ID</key>
	<string>soocherv2</string>
	<key>STORAGE_BUCKET</key>
	<string>soocherv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145319049244:ios:46920ba73ba7112cf107d9</string>
	<key>DATABASE_URL</key>
	<string>https://soocherv2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>